<div class="container-fluid">
  <h2>About this sample</h2>
  <p>This is an example of a simple application built with the Angular 8 framework and the Bootstrap CSS library. It can run standalone by loading index.html, and it can be imported or pushed into a Script Portlet. It's an example of a "single page application" where the different views within a single index.html page are dynamically loaded by the Angular framework. When used in a Script Portlet, a single page application like this is displayed as one portlet on a portal page, typically alongside other portlets. The application is a simple contact list application for viewing a list of contacts. Here are the key features illustrated in the sample:</p>
  <ul>
    <li>The three different views (list, details, and about) are separate HTML files loaded as component pages using the <a href="https://angular.io/guide/router">Angular router</a>, configured in app.module.ts.</li>
    <li><a href="https://angular.io/guide/http">Angular HttpClient</a> is used to load the default JSON data file, contacts.json.</li>
    <li>The Angular $httpClient service is used to load the default JSON data file, contacts.json.</li>
    <li>There are three simple Angular components used, for the list view, the details view and the about page.</li>
    <li>There are a few separate JavaScript files used, and when running in Script Portlet they are combined into a single resource by WebSphere Portal's resource aggregation feature (available in version 8.5, CF03 or later). See the comment at the top of index.html for how this is enabled.</li>
    <li>The <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a> library is used for styling of the application UI</li>
  </ul>
</div>
